#poopoo{
    height: 500px;
    width: 100%;
}
#peepee{
    height: 500px;
    width: 500px;
}
#poopee{
    height: 500px;
    width: 500px;
}
#peepoo{
    height: 500px;
    width: 500px;
}
.geography{
    color:green;
}
.history{
    color: white;
    font-style: italic;
}
.landmarks{
    color: red;
}
body{background-color: darkgray;}
img{
    border: 5px solid;
}
#table2{
    border-collapse: collapse;
}
#justBecause{
    color:cyan;
}
